

services:
  - type: web
    name: food-label-analyzer
    runtime: docker
    plan: free
    envVars:
      - key: STREAMLIT_SERVER_HEADLESS
        value: "true"
      - key: STREAMLIT_SERVER_PORT
        value: "8501"
      - key: STREAMLIT_SERVER_ADDRESS
        value: "0.0.0.0"
    healthCheckPath: /
    autoDeploy: true
